@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">click aqui para voltar para home.</a></p>